@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. CSS Variables */
/* 2. Default CSS */
/* 4. Scrollbar */
/* 3. Animations */

/* CSS Variables */
:root {
  /* COLORS */
  /* Primary */
  --color-prim-50: #ecfeff;
  --color-prim-100: #cffafe;
  --color-prim-200: #a5f3fc;
  --color-prim-300: #67e8f9;
  --color-prim-400: #22d3ee;
  --color-prim-500: #06b6d4;
  --color-prim-600: #0891b2;
  --color-prim-700: #0e7490;
  --color-prim-800: #155e75;
  --color-prim-900: #164e63;
  --color-prim-950: #083344;
  /* Secondary */
  --color-second-50: #ecfdf5;
  --color-second-100: #d1fae5;
  --color-second-200: #a7f3d0;
  --color-second-300: #6ee7b7;
  --color-second-400: #34d399;
  --color-second-500: #10b981;
  --color-second-600: #059669;
  --color-second-700: #047857;
  --color-second-800: #065f46;
  --color-second-900: #064e3b;
  --color-second-950: #022c22;
  /* Terciary */
  --color-terc-50: #fdf4ff;
  --color-terc-100: #fae8ff;
  --color-terc-200: #f5d0fe;
  --color-terc-300: #f0abfc;
  --color-terc-400: #e879f9;
  --color-terc-500: #d946ef;
  --color-terc-600: #c026d3;
  --color-terc-700: #a21caf;
  --color-terc-800: #86198f;
  --color-terc-900: #701a75;
  --color-terc-950: #4a044e;
  /* Dark */
  --color-dark-50: #fafafa;
  --color-dark-100: #f5f5f5;
  --color-dark-200: #e5e5e5;
  --color-dark-300: #d4d4d4;
  --color-dark-400: #a3a3a3;
  --color-dark-500: #737373;
  --color-dark-600: #525252;
  --color-dark-700: #404040;
  --color-dark-800: #262626;
  --color-dark-900: #171717;
  --color-dark-950: #0a0a0a;
  /* Info */
  --color-info-50: #f0f9ff;
  --color-info-100: #e0f2fe;
  --color-info-200: #bae6fd;
  --color-info-300: #7dd3fc;
  --color-info-400: #38bdf8;
  --color-info-500: #0ea5e9;
  --color-info-600: #0284c7;
  --color-info-700: #0369a1;
  --color-info-800: #075985;
  --color-info-900: #0c4a6e;
  --color-info-950: #082f49;
  /* Success */
  --color-success-50: #f7fee7;
  --color-success-100: #ecfccb;
  --color-success-200: #d9f99d;
  --color-success-300: #bef264;
  --color-success-400: #a3e635;
  --color-success-500: #84cc16;
  --color-success-600: #65a30d;
  --color-success-700: #4d7c0f;
  --color-success-800: #3f6212;
  --color-success-900: #365314;
  --color-success-950: #1a2e05;
  /* Warning */
  --color-warning-50: #fffbeb;
  --color-warning-100: #fef3c7;
  --color-warning-200: #fde68a;
  --color-warning-300: #fcd34d;
  --color-warning-400: #fbbf24;
  --color-warning-500: #f59e0b;
  --color-warning-600: #d97706;
  --color-warning-700: #b45309;
  --color-warning-800: #92400e;
  --color-warning-900: #78350f;
  --color-warning-950: #451a03;
  /* Error */
  --color-error-50: #fef2f2;
  --color-error-100: #fee2e2;
  --color-error-200: #fecaca;
  --color-error-300: #fca5a5;
  --color-error-400: #f87171;
  --color-error-500: #ef4444;
  --color-error-600: #dc2626;
  --color-error-700: #b91c1c;
  --color-error-800: #991b1b;
  --color-error-900: #7f1d1d;
  --color-error-950: #450a0a;


  /* SHADOWS */
  --shadow-button: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --shadow-paper: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --shadow-modal: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  --shadow-error: 0 0 2px 1px var(--color-error-800);
}

/* Default CSS */
* {
  box-sizing: border-box;
}

button {
  border-color: transparent;
}

/* Scrollbar */

*::-webkit-scrollbar {
  width: 0.5rem;
  border: 0;
  background: transparent;
}
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  width: 0.5rem;
  border: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}
*::-webkit-scrollbar:horizontal {
  height: 0.5rem;
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}
*::-webkit-scrollbar-corner {
  background: transparent;
}


/* Animations */
@keyframes inlineLoaderAnim {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes circularLoaderAnim1 {
0%  {clip-path: polygon(50% 50%,0 0,50% 0%,50% 0%,50% 0%,50% 0%,50% 0% )}  
12.5% {clip-path: polygon(50% 50%,0 0,50% 0%,100% 0%,100% 0%,100% 0%,100% 0% )}
25% {clip-path: polygon(50% 50%,0 0,50% 0%,100% 0%,100% 100%,100% 100%,100% 100% )}
50% {clip-path: polygon(50% 50%,0 0,50% 0%,100% 0%,100% 100%,50% 100%,0% 100% )}
62.5% {clip-path: polygon(50% 50%,100% 0,100% 0%,100% 0%,100% 100%,50% 100%,0% 100% )}
75% {clip-path: polygon(50% 50%,100% 100%,100% 100%,100% 100%,100% 100%,50% 100%,0% 100% )}
100%{clip-path: polygon(50% 50%,50% 100%,50% 100%,50% 100%,50% 100%,50% 100%,0% 100% )}
}

@keyframes circularLoaderAnim2 {
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}

@keyframes ghostAnim {
  100% {
    transform: translateX(100%);
  }
}