@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-gutter: stable;
}

/* Scrollbar */

*::-webkit-scrollbar {
  width: 0.5rem;
  border: 0;
  background: transparent;
}
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  width: 0.5rem;
  border: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}
*::-webkit-scrollbar:horizontal {
  height: 0.5rem;
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}
*::-webkit-scrollbar-corner {
  background: transparent;
}

/* Animations */

@keyframes loaderAnim {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes ghostAnim {
  100% {
    transform: translateX(100%);
  }
}
